<div>
    <input type="text" [(ngModel)]="tarefa.descricao" (input)="mostrar($event)">
    <button (click)="addTarefa()" >Add</button>
</div>
<div *ngFor="let t of tarefas">
    <div>{{t.descricao}}</div>
</div>
